input#my-input {
  padding: 13px;
  width: 50%;

  border-color: darkblue;
}
button {
  padding: 15px;
  width: 25%;

  color: lightblue;
  background-color: darkblue;
  border: none;
}

button:hover {
  color: lightcoral;
}

h1 {
  color: darkblue;
  text-shadow: -1px -1px 0 lightcoral, 0.05px -1px 0 lightcoral,
    -1px 0.05px 0 lightcoral, 0.05px 0.05px 0 lightcoral;
}
